modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "build-api"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "typecheck-steward"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "typecheck-api"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "healthcheck"

[[workflows.workflow]]
name = "build-api"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run build"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow]]
name = "typecheck-steward"
author = "agent"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/steward exec tsc --noEmit"

[[workflows.workflow]]
name = "typecheck-api"
author = "agent"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run build"

[[workflows.workflow]]
name = "healthcheck"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sleep 2 && curl -sf http://localhost:8080/api/healthz && echo OK"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ADMIN_USER_IDS = "53650667,56678663"
ADMIN_EMAILS = "steward.ai.app@gmail.com,ampaluch@hotmail.com,irwincarcruise@gmail.com,andrewplaich01@gmail.com, matt@fighttheblightinc.com"
SERVICE_API_KEY = "f8d531dbc2b53a8a15ab08bca95d4dd09bc19e3266155b69c96f99ca68138096"
PILLAR_SERVICE_KEY = "f8d531dbc2b53a8a15ab08bca95d4dd09bc19e3266155b69c96f99ca68138096"
SENTRY_DSN = "https://d0167ff10604af75e2198ecb4b12cf05@o4511232703463424.ingest.us.sentry.io/4511232723451904"
VITE_SENTRY_DSN = "https://d0167ff10604af75e2198ecb4b12cf05@o4511232703463424.ingest.us.sentry.io/4511232723451904"
